<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xstudioo.noteme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Semua catatan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.utsAKB.RezzaRamdhani_10119291.TentangAplikasi"
            android:exported="false" />
        <activity
            android:name="com.utsAKB.RezzaRamdhani_10119291.Profile"
            android:exported="false" />
        <activity android:name="com.utsAKB.RezzaRamdhani_10119291.Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utsAKB.RezzaRamdhani_10119291.MainActivity" />
        </activity>
        <activity
            android:name="com.utsAKB.RezzaRamdhani_10119291.Detail"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.utsAKB.RezzaRamdhani_10119291.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utsAKB.RezzaRamdhani_10119291.MainActivity" />
        </activity>
        <activity android:name="com.utsAKB.RezzaRamdhani_10119291.AddNote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utsAKB.RezzaRamdhani_10119291.MainActivity" />
        </activity>
        <activity android:name="com.utsAKB.RezzaRamdhani_10119291.MainActivity" />
        <activity android:name="com.utsAKB.RezzaRamdhani_10119291.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>